# circleci

version: 2.1

parameters:
  username:
    type: string
    default: ""
  project:
    type: string
    default: ""
  version:
    type: string
    default: ""
  phase:
    type: string
    default: ""
  type:
    type: string
    default: ""

jobs:
  build:
    docker:
      - image: opspresso/gitops
    environment:
      TG_USERNAME: << pipeline.parameters.username >>
      TG_PROJECT: << pipeline.parameters.project >>
      TG_VERSION: << pipeline.parameters.version >>
      TG_PHASE: << pipeline.parameters.phase >>
      TG_TYPE: << pipeline.parameters.type >>
    steps:
      - checkout
      - run:
          name: Build
          command: |
            bash ./build.sh circleci

# https://circleci.com/docs/2.0/add-ssh-key/
# https://circleci.com/docs/2.0/api-job-trigger/

# workflows:
#   # version: 2
#   apply:
#     jobs:
#       - build:
#           filters:
#             branches:
#               only:
#                 - main
#                 - master
