app:
  replicaCount: {{replicas}}
{% if not resources %}
  resources: null
{% endif %}
{% if env == 'eks' %}
  podLabels:
    sidecar.istio.io/inject: "true"
{% endif %}{% if not autoscaling %}
  autoscaling:
    enabled: {{autoscaling | lower}}
{% endif %}
