{{- if and .Values.ingress.enabled .Values.preview.enabled -}}
{{- $fullName := include "sample.fullname" . -}}
{{- $servicePort := .Values.service.port -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}-preview
  labels:
    app: {{ $fullName }}
    {{- include "sample.labels" . | nindent 4 }}
  {{- with .Values.preview.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.preview.tls }}
  tls:
    {{- range .Values.preview.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.preview.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ . }}
            backend:
              serviceName: {{ $fullName }}-preview
              servicePort: {{ $servicePort }}
          {{- end }}
    {{- end }}
{{- end }}
