ssmPrefix: /k8s/{{cluster}}
{% if (minio is defined and (minio.buckets is defined or minio.storage is defined or minio.console is defined)) or not resources or not autoscaling %}
minio:
{% if minio is defined and minio.buckets is defined %}
  defaultBuckets: {{minio.buckets}}
{% endif %}
{% if minio is defined and minio.storage is defined %}
  persistence:
    size: {{minio.storage}}
{% endif %}
{% if not resources %}
  resources: null
  resourcesPreset: none
{% endif %}
{% if not autoscaling %}
  autoscaling:
    vpa:
      enabled: false
{% endif %}
{% if (minio is defined and minio.console is defined) or not resources or not autoscaling %}
  console:
{% if minio is defined and minio.console is defined %}
    enabled: {{minio.console}}
{% endif %}
{% if not resources %}
    resources: null
    resourcesPreset: none
{% endif %}
{% if not autoscaling %}
    autoscaling:
      vpa:
        enabled: false
      hpa:
        enabled: false
{%- endif %}
{%- endif %}
{%- endif %}
