app:
  replicaCount: {{replicas}}
{% if not resources %}
  resources: null
{% endif %}
  podLabels:
    sidecar.istio.io/inject: "true"

  configmap:
    enabled: true
    data:
      AWS_REGION: {{ aws_region }}
