{% if env == 'local' %}externalSecrets:
  enabled: false
{% else %}ssmPrefix: /k8s/{{cluster}}
{% endif %}{% if (postgresql is defined and postgresql.storage is defined) or not resources %}
postgresql:
  primary:
{% if postgresql is defined and postgresql.storage is defined %}
    persistence:
      size: {{postgresql.storage}}
{% if postgresql.storageClass is defined %}
      storageClass: {{postgresql.storageClass}}
{% endif %}
{% endif %}
{% if not resources %}
    resources: null
{%- endif %}
{%- endif %}
