app:
  replicaCount: {{replicas}}
  autoscaling:
    enabled: {{autoscaling}}
{% if not resources %}
  resources: null
{% endif %}
  configmap:
    data:
      CLUSTER_NAME: '{{cluster}}'
      MESSAGE: hello world
      PROFILE: '{{env}}'
  routing:
    hosts:
    - sample-grpc.{{hostname.public}}
    httpRoute:
      enabled: true
{% if env == 'k3s' %}
      parentRefs:
        - name: traefik-gateway
          namespace: traefik-gateway
{% endif %}
{% if env != 'k3s' %}
  podLabels:
    sidecar.istio.io/inject: "true"
{% endif %}
  podAnnotations:
    link.argocd.argoproj.io/external-link: https://sample-grpc.{{hostname.public}}
  serviceMonitor:
    enabled: true
    labels:
{% if metrics.backend == 'victoria-metrics' -%}
      release: victoria-metrics-{{cluster}}
{% else -%}
      release: prometheus-eks-demo
{%- endif %}
