app:
  configmap:
    data:
      CLUSTER_NAME: '{{cluster}}'
      HOSTNAME: sample.svc.cluster.local
      MESSAGE: hello world
      PROFILE: '{{env}}'
      PROTOCOL: http
      REDIS_HOST: redis-master
      REDIS_PORT: '6379'
  routing:
    hosts:
    - sample-node.{{hostname.public}}
    httpRoute:
      enabled: true
  podLabels:
    sidecar.istio.io/inject: "true"
  podAnnotations:
    link.argocd.argoproj.io/external-link: https://sample-node.{{hostname.public}}
  serviceMonitor:
    enabled: true
    labels:
      release: prometheus-eks-demo
  externalSecrets:
    data:
    - key: /k8s/common/sample-node/redis-password
      name: REDIS_PASS
redis:
  istio:
    sidecar:
      inject: true
