app:
  replicaCount: {{replicas}}
  autoscaling:
    enabled: {{autoscaling}}
{% if not resources %}
  resources: null
{% endif %}
  configmap:
    data:
      CLUSTER_NAME: '{{cluster}}'
      HOSTNAME: sample.svc.cluster.local
      MESSAGE: hello world
      PROFILE: '{{env}}'
      PROTOCOL: http
      REDIS_HOST: redis-master
      REDIS_PORT: '6379'
  routing:
    hosts:
    - sample-node.{{hostname.public}}
    httpRoute:
      enabled: true
{% if env == 'k3s' %}
      parentRefs:
        - name: traefik-gateway
          namespace: traefik-gateway
{% endif %}
{% if env != 'k3s' %}
  podLabels:
    sidecar.istio.io/inject: "true"
{% endif %}
  podAnnotations:
    link.argocd.argoproj.io/external-link: https://sample-node.{{hostname.public}}
  serviceMonitor:
    enabled: {{ (metrics is defined and metrics.backend == 'prometheus') | lower }}
    labels:
      release: prometheus-{{cluster}}
  externalSecrets:
    data:
    - key: /k8s/common/sample-node/redis-password
      name: REDIS_PASS

  workloads:
    thumbs:
      env:
        - name: COUNTER_URL
          value: https://sample-node.{{hostname.public}}/counter/

redis:
  istio:
    sidecar:
      inject: true
{% if not resources %}
  resources: null
  master:
    resources: null
{% endif %}
